<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img id="logo" alt="">
      </a>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/"><img src="assets/images/home.svg" class="icon" alt=""><span>Home</span></a></li>
        <li><a routerLink="/collections"><img src="assets/images/collection.svg" class="icon" alt=""><span>Collections</span></a></li>
        <li><a routerLink="/progress"><img src="assets/images/progress.svg" class="icon" alt=""><span>Progress</span></a></li>
      </ul>
    </nav>

  </div>
  <div class="background">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</header>