<div class="vertical-bar-chart">
  <h1 class="chart-title">Collections with more content</h1>
  <div class="chart-item" *ngFor="let collection of collections">
    <div class="rank">
      <span>{{collections.indexOf(collection) + 1}}.</span>
    </div>
    <div class="collection-info">
      <span class="title">{{ collection.name }}</span>
      <div class="progress">
        <div class="progress-bar" [style.width.%]="collection.content?.length == undefined? 0 : collection.content?.length">
          <span class="percent" [style]="collection.content?.length! > 7? 'right: 0.5rem' : 'right: -1.5rem'">{{collection.content?.length == undefined? 0 : collection.content?.length}}</span>
        </div>
      </div>
    </div>
  </div>
</div>