.board {
  width: 100%;
  height: calc(100vh - 80px - 6rem);
  position: relative;
  border-radius: .5rem;
  padding: 3rem 5rem;
  overflow: auto;
  .title {
    font-size: 3.2rem;
    color: var(--white);
    text-align: center;
  }
  .collection {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .collection-content {
      margin-top: 5rem;
      margin-bottom: 3rem;
      padding: .5rem;
      overflow: auto;
      height: 100%;
      width: 100%;

    }

  }
}

@media screen and (max-width: 1024px) {
  .board {
    padding: 0;
    .collection {
      .collection-content {
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}
