<div class="side-list">
  <app-add-button [small]="true"></app-add-button>
  <div class="list">
    <div *ngFor="let collection of collections" #item>
      <h3 class="collection"  (click)="open(item)">
        <img class="chevron" src="assets/images/chevron.svg" alt="">
        <a [href]="'/collection#'+collection.name" class="title" [title]="collection.description">{{collection.name}}</a>
      </h3>
      <ul class="topic-list" hidden>
        <li class="topic" *ngFor="let content of collection.content" >
          <a [href]="'/collection#'+content.name" class="title" [title]="content.description">{{ content.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<button class="showButton"></button>
<!-- The component is a simple list of collections. Each collection has a title and a list of topics. The topics are hidden by default. When the user clicks on a collection, the topics are shown. The component also has an add button to add a new collection. -->