.side-list {
  width: 38rem;
  height: calc(100vh - 80px - 6rem);
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  border: .1rem solid var(--orange);
  border-left: none;
  border-radius: 0 .5rem .5rem 0;
  app-add-button {
    width: 100%;
  }
  .list {
    width: 100%;
    height: 100%;
    a {
      text-decoration: none;
    }
    .collection {
      cursor: default;
      height: 3.2rem;
      user-select: none;
      display: flex;
      align-items: center;
      &.active {
        .chevron {
          transform: rotate(0);
        }
      }
      .chevron {
        transform: rotate(-90deg);
      }

      .title {
        font-size: 1.6rem;
        color: var(--white);
      }
    }
    ul {
      .topic {
        height: 3.2rem;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 1rem;
        &::before {
          position: absolute;
          content: '';
          width: .5rem;
          height: .5rem;
          background-color: var(--orange);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
        }
        &.active {
          .chevron {
            transform: rotate(0);
          }
        }
        .chevron {
          transform: rotate(-90deg);
        }

        .title {
          font-size: 1.6rem;
          color: var(--white);
        }
      }
    }
  }
}

.showButton {
  display: none;
}

@media screen and (max-width: 1024px) {
  .side-list {
    // display: none;
    // transform: translateX(-100%);
    transition: all .3s;
    position: relative;
    width: 100%;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   width: 3rem;
    //   height: calc(100% - 2rem);
    //   // background-color: var(--orange);
    //   right: -3rem;
    //   top: 1rem;
    //   border-radius: 0 .5rem .5rem 0;
    // }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    //   right: -2.5rem;
    //   top: 50%;
    //   border-bottom: 1.5rem solid transparent;
    //   border-top: 1.5rem solid transparent;
    //   border-left: 2rem solid var(--orange);
    //   border-radius: .5rem;
    //   animation: blink 1s infinite;
    // }
    // &:hover {
    //   transform: translateX(0);
    // }
  }

}