/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --white: #fff;
  --black: #0D0D0D;
  --red: #FE2F04;
  --yellow: #FCB42A;
  --orange: #DF600D;
  --light-orange: #FD8200;
  font-size: 64.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--orange) var(--black);
  outline: none;
}

body {
  height: 100vh;
  background-color: var(--black) !important;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}