.home {
  background-color: var(--black);
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: auto;

  .container-fluid {
    padding: clamp(5rem,7vh,15rem) 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5rem;
    row-gap: 7.5rem;
    app-card {
      width: fit-content;
    }
  }

}